<div class="md:px-16 px-0 pt-32 md:pb-32 pb-24 m-4 relative ">
    <img src="{{ include.image-src }}" alt="{{ include.image-alt }}" class="logo--main">
    <p class="font-display text-primary md:text-4xl text-2xl font-medium md:mt-12 mt-10">{{ include.description }}</p> 
    <!-- heading-xlarge -->
    <div
        class="event-card md:w-2/3 w-full bg-secondary-700 absolute md:p-4 p-0 flex md:flex-row flex-col align-middle ">
        <div class="md:w-1/2 w-full p-4 text-center text-white text-lg self-center ">VIS | VAST &#8226; INFOVIS &#8226; SCIVIS</div>
        <div class="md:w-1/2 w-full p-4 text-center text-white text-lg self-center font-bold md:border-l border-l-0 md:border-t-0 border-t border-secondary-200 ">
            <span class="md:inline block">{{ include.event-date }}</span>
            <span class="md:inline hidden"> in </span>
            <span class="md:inline block">{{ include.event-location }}</span>
        </div>
    </div>
</div>
